body {
    margin: 0;
    background-color: beige;
}



.intro {
    /* background-color: bisque; */
    height: 500px;
    display: flex;
}

.experience {
    background-color:#39FFFF;
    height: 500px;
    display: flex;
    align-items: center;
}

.skills {
    background-color: bisque;
    height: 500px;
}

.contact {
    background-color:#94FFFF;
    height: 500px;
    display: flex;
    align-items: center;
}

.cover-image {
    height: 500px;
}

.cover-text {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* font-size: 30px;
    font-family: Arial;
    color: white;
    font-weight: 600; */
}

.intro-text-header {
    font-size: 44px;
    font-family: Arial;
    color: #94FFFF;
    font-weight: 600;
}

.intro-text-body {
    font-size: 26px;
    font-family: Arial;
    /* color: white; */
}

.into-button {
    border: none;
    background-color: #94FFFF;
    border-radius: 10px;
    width:220px;
    height:30px;
    color: white;
}

.profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 500px;
}

.profile-text {
    margin-left: 200px;
    /* background-color: rgb(45, 229, 229); */
    width: 700px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.profile-text-header{
    font-size: 44px;
    font-family: Arial;
    color: white;
    font-weight: 600;
    margin-bottom: 10px;
}

.profile-text-body {
    font-size: 14px;
    font-family: Arial;
    color: white;
    width: 450px;
    /* font-weight: 200; */
}

.skills-text{
    font-size: 30px;
    font-family: Arial;
    color: white;
    font-weight: 600;
}

.contact-image {
    margin:100px;
    width: 350px;
}

.footer-text-header {
    font-size: 30px;
    font-family: Arial;
    color: white;
    font-weight: 600;
    margin-bottom: 50px;
}

.footer-text-body {
    font-size: 15px;
    font-family: Arial;
    color: white;
    width: 600px;
}

#scrollButton {
    margin-top: 10px;
    color: white;
    border: none;
    background-color: rgb(108, 170, 192);
    border-radius: 5px;
}